ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#0066ff), to(#4d94ff) );
    background: -moz-linear-gradient(top, #0066ff, #4d94ff );

}

li {
    float: left;
    text-align: center;
}

li input, a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #0066ff;
}


#inout {
    position: fixed;
    right:0;
}

html, body{
    margin:0px;
    padding:0px;
}

.tftextinput{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0066ff; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    position: fixed;
    right: 100px;
    color: #0066ff;
    width: 250px;
    text-align: left;
}
.tfbutton {

    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0066ff; border-right:0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0066ff), to(#4d94ff) );
    background: -moz-linear-gradient(top, #0066ff, #4d94ff );
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    position: fixed;
    right: 75px;
}
.tfbutton:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#0066ff), to(#4d94ff) );
    background: -moz-linear-gradient(top, #0066ff, #4d94ff );
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}



